.venv/
Data/**/*.nc
Data/110m_cultural/*
!Data/Wind/cmems_obs-wind_glo_phy_my_l4_P1M_202301.nc
!/Data/110m_cultural/ne_110m_admin_0_countries.*
**/*solutions.ipynb
**/*.png
experiments.ipynb
Session5/
Session6/
Modules/*
!Modules/.gitkeep
get_wind_copernicus.py
to_do.txt
__pycache__/
*.pyc
Session*/_pycache_
test_trend_analysis.py
