.venv/
Data/**/*.nc
Data/**/*.zip
Data/110m_cultural/*
!Data/Wind/cmems_obs-wind_glo_phy_my_l4_P1M_202301.nc
!/Data/110m_cultural/ne_110m_admin_0_countries.*
**/*solutions.ipynb
**/*.png
experiments.ipynb
Modules/*
!Modules/.gitkeep
**/__pycache__/
*.pyc
Session2*/test_trend_analysis.py
.vscode
woa_experiments.ipynb
Session3*/Ekman_spiral.ipynb
!Modules/timeseries_analyzer.py
get_data

